/* Style splach screen */
.splash{
    position: fixed; /* fixed so user can't scroll past the DIV */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: paleturquoise;
    z-index: 200; /* place text in front of everything */
    color: lightseagreen; /* text colour */
    text-align: center;
    line-height: 90vh;    
}

/* Text disappear */
.splash .display-none{
    position: fixed; 
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: paleturquoise;
    z-index: -10; /* place text in behind everything */
    color: lightseagreen; /* text colour */
    text-align: center;
    line-height: 90vh; 
    /*transition: all 0.5s /* smoother fade out */
}

/* animation of text */
@keyframes fadeIn{
    to{
        opacity: 1;
    }    
}

/* fadeIn class */
.fade-in{
    opacity: 0;
    /* animation-timing-function: ease-in-out; */
    animation: fadeIn 1s ease-in forwards;
}