/*Splash screen*/
<STYLE type="text/css">
    body {
        background-color:white;
        text-align: center;    
    }

    #splash {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        width:100%;
        background-color:white;
    }
</STYLE>

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #4bd1d0;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #4bd1d0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: #A587e4;
}

/* Main content
.main {
  margin-top: 10px; /* Add a top margin to avoid content overlay */
} */